<form (ngSubmit)="search()">







    <label>Start:</label>&nbsp;







    <input name="start" [(ngModel)]="start" placeholder="Start" required list="start">







    <datalist id="start">







        <option *ngFor="let t of trains" [value]="t"></option>







    </datalist>







    &nbsp;&nbsp;







    <label>End:</label>







    <input name="end" [(ngModel)]="end" placeholder="End" required list="End">







    <datalist id="End">







        <option *ngFor="let t of trains" [value]="t"></option>







    </datalist>







    &nbsp;&nbsp;







    <button class="btn btn-success" type="submit">Search Train</button>







</form>







<hr>







<table class="table table-bordered table-dark">







    <thead>







        <tr>







            <th>Train No</th>







            <th>Train Name</th>



            <th>Type</th>







            <th>Start</th>







            <th>End</th>







        </tr>







    </thead>







    <tbody>







        <tr *ngFor="let t of trains">







            <td>{{t.trainNo}}</td>







            <td>{{t.trainName}}</td>



            <td>{{t.type}}</td>







            <td>{{t.start}}</td>







            <td>{{t.end}}</td>







        </tr>







    </tbody>







</table>